.booking-container {
  padding: 30px;
  background: #f5f7fb;
      min-height: 100vh;
}
.booking-container .book-details {
    background: white;
    text-align: center;
    padding: 20px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
     border-radius: 8px;
}
.booking-container .title{
margin: 30px;
text-align: center;

  color: #2e7d32;
  font-size: 40px;
  font-weight: bold;
 
}
.booking-container .book-details h2{
  font-size: 30px;
  color: #7d8a99;
  margin-bottom: 20px;
  font-weight: bold;
}





.times-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin:  20px;

}

.time-btn {
  padding: 10px;
  border: 1px solid #1a73e8;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.time-btn.active {
  background: #1a73e8;
  color: white;
}

.confirm-btn {
 background: linear-gradient(135deg, #43C6AC, #2E7D32);
  color: white;
  border: none;
  width: 400px;
  height: 50px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 25px;
  transition: 0.3s ease;
  margin-top: 30px;
 margin: 30px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.confirm-btn:hover{
    background: linear-gradient(135deg, #57C785, #2E7D32);
  transform: translateY(-2px);
}
.divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  padding: 10px 12px;
  border-radius: 10px;
  gap: 10px;
  direction: rtl;
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;

}

.icon {
  font-size: 18px;
} 
